<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h1>
                    WHY DON'T YOU FUCKING CODE THIS USER STORY:
                </h1>
                <p>
                    As a <%= @role %>, I can <%= @goal %> so that <%= @benefit %>.
                </p>
                <p class="btn btn-primary btn-large">
                    <%= link_to "NO, I DON'T FUCKING LIKE IT", root_path %>
                </p>
            </div>
        </div>
    </div>
</div>