<div class="container">
    <div class="row">
        <div class="span12">
            <div class="jumbotron">
                <h1 class="text-center" id="f-header" style="font-family: 'Anton', sans-serif;">
                    WHY DON'T YOU FUCKING CODE THIS USER STORY:
                </h1>
                <h2 class="text-center">
                    <%= @user_story %>
                </h2>
                <p class="text-center">
                    <%= link_to "NO, I DON'T FUCKING LIKE IT", root_path %>
                </p>
            </div>
        </div>
    </div>
</div>