<h1>WHY DON'T YOU FUCKING CODE THIS USER STORY:</h1>
<p id="user-story">As a <%= @role %>, I can <%= @goal %> so that <%= @benefit %>.</p>
<p id="reload"><%= link_to "NO, I DON'T FUCKING WANT IT", root_path %></p>
